.carousel {
    position: relative;
}
.carousel-banner {
    display: none;
    overflow: hidden;
}
.carousel-pager {
    position: absolute;
    bottom: 0;
}
.carousel-banner-1 {
    display: block;
}